@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(../font/Pretendard-Black.woff2) format('woff2'), url(./woff/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../font/Pretendard-ExtraBold.woff2) format('woff2'), url(./woff/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../font/Pretendard-Bold.woff2) format('woff2'), url(./woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(../font/Pretendard-SemiBold.woff2) format('woff2'), url(./woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(../font/Pretendard-Medium.woff2) format('woff2'), url(./woff/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../font/Pretendard-Regular.woff2) format('woff2'), url(./woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(../font/Pretendard-Light.woff2) format('woff2'), url(./woff/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(../font/Pretendard-ExtraLight.woff2) format('woff2'), url(./woff/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(../font/Pretendard-Thin.woff2) format('woff2'), url(./woff/Pretendard-Thin.woff) format('woff');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: 200;
	vertical-align: baseline;
}
a, button {
	text-decoration: none;
	color: #000000;
	border: none;
	cursor: pointer;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* add */
body {
    min-height: auto;
	max-width: 28rem;
    width: 100%;
    margin: 0 auto;
    font-family: 'Pretendard';
	line-height: 1.3;
	background-color: rgb(221, 230, 204);
}
main {
	margin-top: 0;
	margin: 0 auto;
	border-radius: 0 0 0 0;
}
.section {
	box-sizing: border-box;
	text-align: center;
}
.inner {
    width: 100%;
    padding: 0 1.5rem;
}
img {
	width: 100%;
}
.toast {
	position: fixed;
	left: 50%;
	bottom: 4.375rem;
	z-index: 9999;
	display: none;
	padding: 1.25rem 1.5rem;
	background: rgba(52, 78, 60, 0.35);
	border-radius: 0.625rem;
	transform: translateX(-50%);
	animation: toastFade 1.6s ease;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}
.toast_txt{
	display: flex;
	align-items: center;
	gap: 1.5rem;
	padding:  0.625rem 1.5rem;
	font-size: 1.25rem;
	color: #444444;
	background: rgba(255, 255, 255, 0.65);
	border-radius:  0.625rem;
}
.toast_icon {
	width: 24px;
}

.toast--music {
	position: fixed;
	left: 50%;
	bottom: auto;
	top: 1.25rem;
	z-index: 9999;
	display: none;
	padding: 0.625rem 1.5rem;
	background: rgba(0, 0, 0, 0.65);
	border-radius: 50px;
	transform: translateX(-50%);
	animation: toastFadeReverse 1.6s ease;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}
.toast--music .toast_txt{
	padding: 0 0;
	font-size: 1.25rem;
	color: #fff;
	background: none;;
}
@keyframes toastFade {
	0%   { opacity: 0; transform: translate(-50%, 20px); }
	15%  { opacity: 1; transform: translate(-50%, 0px); }
	85%  { opacity: 1; transform: translate(-50%, 0px); }
	100% { opacity: 0; transform: translate(-50%, 20px); }
}
@keyframes toastFadeReverse {
	0%   { opacity: 0; transform: translate(-50%, 0px); }
	15%  { opacity: 1; transform: translate(-50%, 20px); }
	85%  { opacity: 1; transform: translate(-50%, 20px); }
	100% { opacity: 0; transform: translate(-50%, 00px); }
}

@media all and (min-width: 768px) {
	main {
		margin-top: 3rem;
		border-radius: 1.5rem 1.5rem 0 0;
		overflow: hidden;
	}
}